CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003

# https://dashboard.stripe.com/tu_usuario/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/tu_usuario/test/workbench/webhooks/we_1TbRsBFF2R3Irr4JtJNP1pLQ
# Este es el Secreto de firma del Webhook
STRIPE_ENDPOINT_SECRET=

AUTH_DB_URL=mongodb+srv://<db_user>:<password>@auth-microservice-db.1gsdirx.mongodb.net/AuthDB